@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');
* h2{
    font-family: "Special Gothic Expanded One", sans-serif;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background: url('../public/pickingTrash.jpg') no-repeat;
    background-size: cover;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 95vw;
    margin: 10px;
}

.header p{
    grid-column: 3;
}
#get-started{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 5px;
}

.shadow{
    height: 280px;
    width: 100vw;
    text-align: center;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    justify-self: end;
}
.title{
    color: white;
    text-shadow: black 2px 2px 4px;
    margin: 0;
}
.description{
    font-size: 30px;
    font-family: "Special Gothic",sans-serif;
    text-shadow: black 2px 2px 4px;
    margin: 0;
    color: white;
}
#body{
    display: flex;
    flex-direction: column;
}
.map-explain{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.map-image{
    width: 60vw;
    height: 75vh;
    align-self: center;
    border-radius: 2%;
    box-shadow: 4px 4px 10px 2px gray;
    grid-row: 2;
    margin: 10px;
}
.first-statement{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-statement h2{
    margin: 0;
    color: rgb(45, 59, 182);
}
.first-statement p{
    font-size: 30px;
    font-family: "Special Gothic",sans-serif;
}
.body-container{
    display: flex;
}
.body-container img{
margin-left: 20px;
}
.recycle{
    display: flex;
    align-items: center;
}
.recycle-text{
    display: flex;
    flex-direction: column;
}
.recycle-text button{
    align-self: center;
}
.recycle-text h2{
    color: rgb(109, 177, 109);
    font-size: 40px;
}
.recycle-text p{
    font-size: 30px;
    font-family: "Special Gothic",sans-serif;
}
.color-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-code-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-code-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px gray;
    padding: 20px;
    width: 80vw;
}

.color-codes{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 75vw;

}
.color-codes p{
    align-self: center;
}
.color-codes{
    border-bottom: 1px solid black;
}
.content-image{
    rotate: -3deg;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 10px;
    align-self: center;
    border-radius: 10%;
    height: 450px;
    width: 400px;
}

.footer{
    background-color: rgb(34, 32, 32);
    display: flex;
    justify-content: space-between;
    height: 400px;
}
#footerPic {
    height: 500px;
    margin-top: -100px; /* Pulls image up above the container */
    z-index: 2; /* Ensures it appears above the footer background */
}
.contacts{
    color:white;
    grid-column: 1;
    align-self: flex-start;
}
#change-language{
    justify-self: center;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.452);
    border: 1px solid white;
    cursor: pointer;
    color: white;
}
@media screen and (max-width: 500px) {
   .title{
    font-size: 15px;
   }
   .description{
    font-size: 18px;
   }
    #header{
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .content-image {
        width: 100vw;
        height: 100vh;
        margin-left: 0;
    }
    .map-explain{
        flex-direction: column;
        flex-wrap: wrap;
    }
   .map-explain img{
    height: 20vh;
   }
   .map-explain p{
    font-size: 15px;
   }
   .color-code-head h2{
    margin: 10px;
   }
   .color-code-items{
    width: 80vw;
   }
   .color-codes{
    width: 80vw;
   }
   .color-codes p{
    font-size: 11px;
   }
   .recycle img{
    width: 40vw;
   }
   .recycle{
    height: 55vh;
   }
  
    #footerPic {
        height: 200px;
        overflow: hidden;
        margin-top: -30px; /* Adjusted for smaller screen */
    }
   
    .footer {
        height: 170px;
    }
    .body-container h2{
        font-size: 26px;
    }
    .body-container p{
        font-size: 20px;
    }
}
@media (max-width: 600px) {
  .header-image {
    width: 130%;
    margin-left: -10%;
    /* Adjust margin as needed to center the overflow */
  }
  #header {
    overflow: hidden;
    /* This masks the overflow */
  }
}